---
- name: clone tooling website from github
  git:
   repo: https://github.com/darey-io/tooling.git
   dest: /var/www/html/tooling
   clone: yes
   force: yes

- name: Creating sites-available directory on host for Nginx
  file:
    path: /etc/nginx/{{ item }}
    state: directory
    mode: '0755'
  with_items:
   - sites-available
   - sites-enabled


- name: Deploy nginx configuation file
  template:
     src: nginx-tooling.j2
     dest: "/etc/nginx/nginx.conf"
     force: yes
  notify:
   - restart nginx

- name: Deploy nginx configuation file
  template:
     src: nginx-configuration.j2
     dest: "/etc/nginx/sites-available/{{ server_name }}.conf"
     force: yes
  notify:
   - restart nginx

- name: Enable tooling website
  file:
    src: "/etc/nginx/sites-available/{{ server_name }}.conf"
    dest: "/etc/nginx/sites-enabled/{{ server_name }}.conf"
    state: link
    force: yes
  notify:
   - restart nginx

- name: de-activate default nginx 
  file:
    path: /usr/share/nginx/html/index.html
    mode: '0755'
    state: absent
  notify:
   - restart nginx


- name: Add enabled Nginx site to /etc/hosts
  lineinfile:
    dest: /etc/hosts
    regexp: "127.0.0.1"
    line: "18.234.60.170 {{ server_name }}"
  notify:
   - restart nginx
