 server {
        listen       80;
        server_name  {{ server_name }};
        root         {{ tooling_root_dir }};
        index        login.php index.htm;
        # Load configuration files for the default server block.
        include /etc/nginx/default.d/*.conf;
        location / {
        }
        error_page 404 /404.html;
            location = /40x.html {
        }
        error_page 500 502 503 504 /50x.html;
        }



