 server {
        listen       80;
        server_name  {{ server_name }};
        root         {{ tooling_root_dir }};
        index        login.php index.htm;
        # Load configuration files for the default server block.
        include /etc/nginx/default.d/*.conf;
        location / {
        }
        error_page 404 /404.html;
            location = /40x.html {
        }
        error_page 500 502 503 504 /50x.html;
        }
# Settings for a TLS enabled server.

     server {
         listen  443 ssl http2;

         server_name  sikisharm.ml;
         root         /var/www/html/tooling/html;
         index       login.php;

         ssl_certificate /etc/letsencrypt/live/sikisharm.ml/fullchain.pem; # managed by Certbot
         ssl_certificate_key /etc/letsencrypt/live/sikisharm.ml/privkey.pem; # managed by Certbot
         include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
         ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot






         # Load configuration files for the default server block.
         include /etc/nginx/default.d/*.conf;

         location / {
         }

         error_page 404 /404.html;
         location = /404.html {
         }

         error_page 500 502 503 504 /50x.html;
        location = /50x.html {
        }


 }

upstream backend  {
  server sikisharm.ml;
}

 server {
  location / {
    proxy_pass  http://backend;
  }
}



