server {
        listen 80;
        server_name  {{ server_name }};
    
        location / {
            root  {{ demo_root_dir }};
            index  login.php index.php;
            try_files $uri $uri/ =404;
        }
    
        error_page   500 502 503 504  /50x.html;
        location = /50x.html {
        

        }
    include /etc/nginx/sites-enabled/*.conf;
    error_log /var/log/nginx/{{ server_name }}_error.log;
    access_log /var/log/nginx/{{ server_name }}_access.log;
    }
